<div class="recipes-list flex flex-col sm:flex-row sm:flex-wrap gap-4">
  <% @recipes.each do |recipe| %>
    <div class="sm:basis-60">
      <%= render RecipeListItemComponent.new(recipe: recipe) %>
    </div>
  <% end %>
  <% if @recipes.empty? %>
    <p class="text-gray-500"><%= @blank_message %></p>
  <% end %>
</div>
