<%= turbo_frame_tag :recipes_by_category do %>
  <% @recipes.each do |recipe| %>
    <div class="flex flex-col gap-4 mb-6">
      <%= render RecipeListItemComponent.new(recipe: recipe) %>
    </div>
  <% end %>
<% end %>
