<%= turbo_frame_tag :modal do %>
  <dialog class="modal modal-bottom sm:modal-middle" data-controller="modals">
    <div class="modal-box">
      <h2 class="text-xl font-bold mb-1">Edit Recipe</h2>

      <%= render "form", recipe: @recipe %>
    </div>
  </dialog>
<% end %>
