<div class="flex flex-col lg:flex-row-reverse lg:justify-between gap-4">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title mb-6">Recipes Based on Time of Day</h2>

      <div
        data-controller="suggested-recipes"
        data-suggested-recipes-base-url-value="<%= by_category_recipes_path(category: "") %>"
      >
        <div id="recipes_by_category">
          <%= render RecipeListSkeletonComponent.new %>
        </div>
      </div>

    </div>
  </div>
  <!-- Recipes Table -->
  <div class="card bg-base-100 shadow-xl overflow-x-auto flex-1">
    <div class="card-body">
      <h2 class="card-title mb-6">Recipes</h2>

      <%#TODO: add filters %>
      <%= render RecipeListComponent.new(recipes: @recipes) %>
    </div>
  </div>
</div>
