<nav class="mb-10 flex justify-between">
  <div class="text-3xl font-bold">
    <%= link_to root_path, class: 'text-primary-700 dark:text-primary-400 -skew-y-6 block' do %>
      CookingBuddy
    <% end %>
  </div>

  <div class="flex items-center gap-3">
    <% if user_signed_in? %>
      <%= button_to destroy_user_session_path, class: 'btn btn-neutral btn-sm', method: :delete, title: 'Sign out' do %>
        <svg class="h-4 w-4 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/>
        </svg>
      <% end %>
    <% elsif !['sessions', 'registrations', 'passwords'].include?(controller_name) %>
      <%= link_to new_user_session_path, class: 'btn btn-sm', title: 'Sign in' do %>
        <svg class="h-4 w-4 shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-in"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/><polyline points="10 17 15 12 10 7"/><line x1="15" x2="3" y1="12" y2="12"/></svg>
      <% end %>
    <% end %>
  </div>
</nav>
