<%# TODO: refactor from flex to grid %>
<div class="flex flex-col lg:flex-row-reverse lg:justify-between gap-4">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title mb-6">Recipes Based on Time of Day</h2>

      <% (1..3).each do |i| %>
        <div class="flex w-52 flex-col gap-4 mb-6">
          <div class="flex items-center gap-4">
            <div class="skeleton h-14 w-14 shrink-0 rounded-full"></div>
            <div class="flex flex-col gap-4">
              <div class="skeleton h-4 w-20"></div>
              <div class="skeleton h-4 w-28"></div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
  <!-- Recipes Table -->
  <div class="card bg-base-100 shadow-xl overflow-x-auto flex-1">
    <div class="card-body">
      <%= turbo_frame_tag :recipes, src: recipes_path, refresh: "morph" do %>
        <%= render "recipes/table_skeleton" %>
      <% end %>
    </div>
  </div>
</div>