<div class="hero">
  <div class="hero-content flex-col">
    <div class="card bg-base-100 w-full max-w-lg shrink-0 shadow-2xl">
      <div class="card-body flex flex-col items-center">
        <h2 class="card-title font-bold text-2xl block">Sign in now!</h2>

        <p class="mb-6 text-center">
          One login away from culinary greatness.
        </p>

        <%= button_to(
          omniauth_authorize_path(resource_name, :github),
          form_class: "w-full",
          class: "btn w-full",
          data: {
            turbo: false,
            controller: "ui-loading",
            action: "ui-loading#showLoading",
            ui_loading_target: "button",
          },
        ) do %>
          <%= lucide_icon "github", class: "w-6 h-6", data: { ui_loading_target: "hideable" } %>
          <span data-ui-loading-target="hideable">Cookin' with GitHub</span>

          <span
            class="loading loading-spinner hidden"
            data-ui-loading-target="indicator"
            aria-hidden="true"
          ></span>
          <span
            class="hidden"
            data-ui-loading-target="indicator"
            role="status"
            aria-hidden="true"
          >
            Frying up your session...
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
