<div class="hero">
  <div class="hero-content flex-col">
    <div class="card bg-base-100 w-full max-w-lg shrink-0 shadow-2xl">
      <div class="card-body flex flex-col items-center">
        <h2 class="card-title font-bold text-2xl block">Sign in now!</h2>

        <p class="mb-6 text-center">
          One login away from culinary greatness.
        </p>

        <%= button_to(
          omniauth_authorize_path(resource_name, :github),
          form_class: "w-full",
          class: "btn w-full",
          data: {
            turbo: false,
          },
        ) do %>
          <%= lucide_icon "github", class: "w-6 h-6" %>
          <span>Cookin' with GitHub</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
