<div class="hero">
  <div class="hero-content flex-col lg:flex-row-reverse lg:justify-end lg:gap-12">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Sign in now</h1>
      <p class="py-6">
        Start reaping the benefits of your own personal CookingBuddy. Track
        recipes, plan your meals, and more.
      </p>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <div class="card-body">
        <%= button_to(
          omniauth_authorize_path(resource_name, :github),
          class: "btn",
          data: {
            turbo: false,
          },
        ) do %>
          <%= lucide_icon "github", class: "w-6 h-6" %>
          <span>Sign in with GitHub</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
