<div class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <div>
      <%= link_to products_path, class: "btn btn-ghost btn-xs" do %>
        <%= lucide_icon("arrow-left", class: "h-4 w-4") %>
        Back to Products
      <% end %>
    </div>

    <h2 class="card-title mb-4">
      New Product
    </h2>

    <%= render "form", product: @product %>
  </div>
</div>
